@import '../../../variables.scss';

.container {
    background-color: $color-yellow;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & .content {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 955px;
        overflow: hidden;
        width: 90%;
    }

    & img.logo {
        margin-right: 20px;
    }
}