@import '../../../variables.scss';

.container {
    display: flex;
    justify-content: center;
    border: 1px solid $color-white;
    border-radius: 5px;
    width: 100%;

    & input, button {
        height: 30px;
    }
    & input {
        width: 100%;
        padding-left: 10px;
    }
    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
    }
    & button img {
        width: 16px;
        height: 16px;
    }
}